	    <!--  / Footer  -->
	    <footer id="footer" class="site-footer" role="contentinfo">
		    <div class="footer-wrap group">
		    	<div class="footer-mod footer-brand">
		    		<h6>SLJ Media</h6>
		    	</div>
		    	<div class="footer-mod">
		    		<p>10a Clifford Court. <br />Cooper Way. <br />Carlisle. <br />CA3 0JG.</p>
		    		<ul class="contact-info">
		    			<li><a href="mailto:info@sljmedia.co.uk">info@sljmedia.co.uk</a></li>
		    			<li>+44 (0)1228 592500</li>
		    		</ul>
		    	</div>
		    	<div class="footer-mod">
		    		<h6>Connect with us</h6>
						<ul class="social-links">
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Linkedin</a></li>
						</ul>
		    	</div>
		    	<div class="footer-mod footer-contact-mod">
		    		<p>If you like what we do, then contact us to find out how we can help you.</p>
		    		<a class="btn" href="#">Contact</a>
		    	</div>
		    </div>
			<div class="copyright group">
			    <div class="c-notice-wrap">
				    <p class="c-notice"><small>&copy; 2016 SLJ Media. All Rights Reserved.</small></p>
					<!--
					<ul class="menu-legal">
						<li><a href="#">Cookies</a></li>
						<li><a href="#">Privacy Statement</a></li>
						<li><a href="#">Disclaimer</a></li>
					</ul>
					-->
				</div>
			</div>
			<a href="#" class="top" title="Top"></a>
	    </footer>
	    <!--  /// Footer.  -->
