		<!--  / Header Wrap  -->
		<div class="header-wrap">
			<!--  / Header  -->
		    <header id="masthead" class="site-header group" role="banner">
					<div class="title-area header-image">
						<h1 class="site-title" itemprop="headline">
							<a href="/index.html">SLJ Media</a>
						</h1>
						<p class="site-description" itemprop="description"></p>
					</div>
					<!--  / Main Navigation  -->
					<div class="nav-wrap">
						<nav id="site-navigation" class="main-navigation" role="navigation">
							<button class="menu-toggle">
								<span class="toggle-nav">
								<span class="bar bar-one"></span>
								<span class="bar bar-two"></span>
								<span class="bar bar-three"></span>
								</span>
					    	</button>
							<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
							<div class="menu-main-menu-container">
								<ul id="menu-main-menu" class="nav-menu">
									<li><a href="/work-brand.html">Work</a></li>
									<li><a href="/news.html">News</a></li>
									<li><a href="#">About</a></li>
					                <li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</nav>
					</div>
					<!--  /// Main Navigation.  -->
		    </header>
		    <!--  /// Header.  -->