---
layout: defaultx2
---
<div class="subnav-wrap">
	<nav class="sub-navigation group">
		<ul>
			<li><a href="{{ page.url | prepend: site.github.url }}work/all">All.</a></li>
			<li><a href="{{ page.url | prepend: site.github.url }}work/brand-identity">Brand Identity.</a></li>
			<li><a href="{{ page.url | prepend: site.github.url }}work/brand-communications">Brand Communications.</a></li>
			<li><a href="{{ page.url | prepend: site.github.url }}work/digital-communications">Digital Communications</a></li>
		</ul>
	</nav>
</div>
{{ content }}
