---
layout: default-work
---
<div class="subnav-wrap">
	<nav class="sub-navigation group">
		<ul>
			<li><a href="{{ page.url | prepend: site.github.url }}all">All.</a></li>
			<li><a href="{{ page.url | prepend: site.github.url }}brand-identity">Brand Identity.</a></li>
			<li><a href="{{ page.url | prepend: site.github.url }}brand-communications">Brand Communications.</a></li>
			<li><a class="active" href="{{ page.url | prepend: site.github.url }}digital-communications">Digital Communications</a></li>
		</ul>
	</nav>
</div>
{{ content }}
