---
layout: default
---
{{ content }}
<div class="subnav-wrap">
	<nav class="sub-navigation group">
		<ul>
		    {% assign worknavigation_pages = site.html_pages | sort: 'worknavigation_weight' %}
		    {% for p in worknavigation_pages %}
		      	{% if p.worknavigation_weight %}
		        	<li>
			          	<a href="{{ p.url }}" {% if p.url == page.url %}class="current"{% endif %}>
			            	{{ p.title }}
			          	</a>
		        	</li>
		      	{% endif %}
		    {% endfor %}
		</ul>
	</nav>
</div>